body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
}

#map {
    width: 100%;
    height: 100vh;
}

.geolocate-btn {
    ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.geolocate-btn:hover {
    background-color: #0a5ecf;
}
